/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color);
  font-family: "Inter-Variable", sans-serif;
  font-size: 18px;
  line-height: 1.16;
  font-weight: var(--font-weight-body);
}

.page__section_id_main {
  margin-top: -392px;
}

.page__section_id_footer {
  padding-bottom: 100px;
}

.page__section > * {
  margin: auto;
  width: min(100vw, 700px);
}

.header {
  background-image: var(--background-gradient);
  padding-top: 100px;
  padding-bottom: 492px
}

.header__theme-menu {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 20px;
  position: relative;
}

.theme-menu__item {
  font-family: var(--accent), monospace;
  line-height: 100%;
  font-size: 14px;
}

.theme-menu__list {
  margin-bottom: 25px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0;
}

.theme-menu__button::before {
  content: "▶";
  display: inline-block;
  margin-right: 4px;
  opacity: 0;
}

.theme-menu__button:disabled {
  color: var(--button-theme);
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  animation: shiftX 0.5s ease-in-out infinite alternate;
  opacity: 1;
}

.theme-menu__button:hover {
  color: var(--button-theme);
  transition: color 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: left;
  margin-left: 1rem;
  width: calc(100% - 1rem);
  margin-top: -2px;
}

.theme-menu__button:focus {
  outline: none;
  color: var(--button-theme);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.page__title {
  font-family: var(--accent), monospace;
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.5723rem + 2.0915vw, 4.0625rem);
  line-height: 100%;
  margin-top: 136px;
}

.page__subtitle {
  font-family: var(--accent), monospace;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.5993rem + 1.1765vw, 1.4375rem);
  line-height: 100%;
}

.page__figcaption {
  position: absolute;
  top: 23px;
  right: 29px;
  font-size: 14px;
  font-family: var(--accent), monospace;
  text-transform: uppercase;
  line-height: 100%;
}

.sprint {
  margin-bottom: 3rem;
  border: 2px solid;
}

.sprint__title {
  padding: 3px 10px;
  background-color: var(--background-color);
  font-weight: var(--font-weight-title);
  border-bottom: 2px solid currentColor;
  font-size: 18px;
}

.sprint__figure {
  margin: 0;
  position: relative;
}

.sprint__image {
  width: 100%;
}

.sprint__image-mix {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}

.sprint__image-blur {
  filter: blur(0.2rem);
}

.sprint__image-grayscale {
  filter: grayscale(0.8);
}

.sprint__image-sepia {
  filter: sepia(80%);
}

.sprint__image-hue {
  filter: hue-rotate(90deg);
}

.sprint__image-saturate {
  filter: saturate(60%);
}

.sprint__image-invert {
  filter: invert(1);
}

.sprint__image-8 {
  filter: brightness(200%);
}

.sprint__figcaption {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 14px;
  font-family: var(--accent), monospace;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--background-color);
  mix-blend-mode: hard-light;
  opacity: 50%;
}

.sprint__body {
  margin: 25px;
}

.sprint__text > p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.sprint__buttons {
  display: flex;
  justify-content: end;
  padding-top: 25px;
}

.sprint__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 38px;
  padding: 0;
}

.sprint__button:not(:last-child) {
  margin-right: 0.75rem;
}

.sprint__button_type_text {
  border: 2px solid var(--accent-color);
  font-size: 14px;
  font-family: var(--accent), monospace;
  width: 130px;
}

.sprint__button_cta {
  display: block;
  margin: auto;
  height: 55px;
  width: min(81.6%, 335px);
}

.button__text {
  color: var(--button-text);
  position: relative;
  top: calc(-50% - 0.5em);
  mix-blend-mode: difference;
}

.button__text_with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  top: calc(-50% - 10.5px);
}

.sprint__button_type_text:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: 0.3s ease;
}

.sprint__button_type_text::before {
  content: "";
  display: block;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  height: 100%;
  width: 100%;
}

.sprint__button_type_text:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  transition: border-color 0.3s ease;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__icon-button .main-body {
  transition: fill 0.3s linear;
  fill: transparent;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.card__icon-button .core {
  transition: fill 0.3s 0.03s linear;
  fill: transparent;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
}

.card__icon-button:active .main-body {
  fill: var(--red);
}

.card__icon-button:active .core {
  fill: var(--red);
}

.card__icon-button:has(.is-liked) .main-body {
  fill: var(--red);
}

.card__icon-button:has(.is-liked) .core {
  fill: var(--red);
}

.card__icon-button .contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

.card__icon-button:has(.is-liked) .contour {
  fill: var(--red);
  transition-delay: 0.3s;
  transition-duration: 0.06s;
}

.card__icon-button:has(.is-liked) .heart {
  animation: heart-scale 0.3s ease-in 0.1s 2 alternate;
  transform-origin: center;
}

.card__icon-button .sparks {
  opacity: 0;
}

.card__icon-button:has(.is-liked) .sparks {
  animation: heart-sparks 0.3s ease-in 0.3s 2 alternate;
}

.button__icon {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

dialog {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 30px 40px 15px;
}

.dialog__body {
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__icon {
  width: 39px;
  height: 39px;
  fill: var(--accent-color);
}

dialog .sprint__button {
  width: 100%;
}

.dialog__text {
  font-family: var(--accent), monospace;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--accent-color);
  line-height: 21px;
  width: 234px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .header {
    padding-bottom: 240px;
  }

  .page__title {
    margin-top: 120px;
  }

  .page__figcaption {
    display: none;
  }

  .page__section_id_main {
    margin-top: -140px;
  }

  .sprint__button_cta {
    height: 84px;
  }
  .button__text_with-icon {
    flex-direction: column;
    top: calc(calc(-50% - 24px));
  }

  .button__icon {
    width: 28px;
    height: 28px;
  }
}
